#front-end
/client/node_modules
/client/.pnp
/client/.pnp.js
/client/coverage
/client/build
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
.vscode

#back-end
/server/.vs
/server/bin
/server/obj
/server/server.sln
/server/appsettings.json