/* Declarations of CSS Variables */

:root {
  --yellow: #fbc93d;
  --pink: rgb(255, 131, 152);
  --green: rgb(0, 255, 64);
  --red: #fb4f4f;
  --darkred: #ff0000;
  --blue: #2f8fe2;
  --gblue: #2d88ff;
  --darkblue: #0f131a;
  --black-bg-green: rgb(65, 179, 0);

  --theme-pink: rgb(255, 86, 114);
  --theme-navy: #005562;
  --theme-aqua: #0e8174;
  --theme-lightgreen: #78c258;
  --theme-green: rgba(200, 255, 0, 0.85);
  --theme-brightgreen: rgb(202, 255, 10);
  --theme-red: rgba(232, 86, 86, 0.85);
  --theme-yellow: rgba(223, 184, 28, 0.85);
  --theme-blue: rgba(45, 172, 209, 0.85);
  --theme-darkred: #b21f1f;
  --theme-black: rgba(0, 0, 0, 0.8);
  --theme-white: white;
  --theme-lightblue: rgb(0, 169, 211);
  --theme-brightblue: rgb(0, 247, 255);
  --theme-grey: rgb(97, 96, 96);

  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);

  --darkest: rgba(0, 0, 0, 0);
  --darker: rgba(0, 0, 0, 0.1);
  --dark: rgba(0, 0, 0, 0.7);
  --light: #3a3b3c;
  --lighter: #b0b3b8;
  --lightest: #e5e6eb;

  --text-grey: var(--lighter);
  --text-lightgrey: var(--lightest);
  --text-color: white;
  --highlight: #209e91;
  --transparent-highlight: rgba(32, 158, 145, 0.5);
  --nav-bg: rgba(0, 0, 0, 0.85);
  --vert-nav-bg: rgba(0, 0, 0, 0.5);
  --nav-height: 6vh;
  --scrollwidth: 8px;
  --mobile-nav-height: 8vh;
  --ticket-border: 1px solid rgba(255, 255, 255, 0.1);

  --rs-alert-offset: 87.5px;
}

/* Reset, from https://cssreset.com/scripts/eric-meyer-reset-css/ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

html,
body {
  line-height: 1;
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--body-bg);
  text-align: center;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  background: url("./assets/blur-bg.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

strong,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-size: 1.25rem;
}

strong {
  font-size: 1.5rem;
}

p {
  color: var(--text-color);
  font-size: 1rem;
}

i {
  color: var(--text-color);
  font-style: normal;
}

button {
  color: var(--text-color);
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Global Classes, used everywhere */

.inline-icon {
  margin: 0 0.5rem;
}

.force-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.hoverfx,
.hoverfx2,
.hoverfx3 {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.hoverfx:hover,
.hoverfx2:hover,
.hoverfx3 {
  cursor: pointer;
}

.hoverfx:hover,
.hoverfx:focus {
  transform: scale(1.05);
  background-color: var(--highlight);
}

.hoverfx2:hover,
.hoverfx2:focus {
  border-right: 0.5rem solid var(--highlight);
}

.hoverfx:active,
.hoverfx2:active {
  transform: scale(0.9);
}

.hoverfx3:hover,
.hoverfx3:focus,
.hoverfx3:hover i,
.hoverfx3:focus i {
  color: var(--text-color);
  background-color: var(--highlight);
}

.contentWrapper {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  margin-top: var(--nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ticket Status Colors */
.unresolved {
  background-color: var(--theme-red);
}

.work-in-progress {
  background-color: var(--theme-blue);
}

.resolved {
  background-color: var(--theme-green);
}

/* Ticket Severity Span Colors */

.trivial {
  color: var(--text-grey);
}

.minor {
  color: var(--text-lightgrey);
}

.major {
  color: var(--darkred);
}

/* Ticket Type Label colors */

.bug {
  background-color: var(--theme-pink) !important;
}

.suggestion,
.feature_request {
  background-color: var(--theme-yellow) !important;
}

/* Scrollbar */

::-webkit-scrollbar {
  height: var(--scrollwidth);
  width: var(--scrollwidth);
  background-color: var(--darker);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: lightgray;
}

/* Text Highlighting */

::selection {
  background: var(--highlight);
}

/* Alert Dynamic Offset! */

@media only screen and (max-width: 1215px) {
  :root {
    --rs-alert-offset: 0px !important;
  }
}

/* Mobile scroll fix */

@media only screen and (max-width: 600px) {
  html,
  body {
    width: auto;
    max-width: none;
    height: auto;
  }
}
