/* Stylings for rsuite alert */
@-webkit-keyframes alertMoverIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes alertMoverIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes alertMoveOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    max-height: 60px;
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
    max-height: 0;
    overflow: hidden;
  }
}
@keyframes alertMoveOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    max-height: 60px;
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
    max-height: 0;
    overflow: hidden;
  }
}

.rs-alert {
  position: fixed;
  z-index: 1;
  pointer-events: none;
}

.rs-alert-item {
  pointer-events: auto;
}

.rs-alert-item-wrapper:not(.rs-alert-fade-exited) + .rs-alert-item-wrapper {
  margin-top: 10px;
}

.rs-alert-container {
  margin-top: calc(var(--nav-height) + 8vh);
  left: 50%;
}

.rs-alert-item-wrapper {
  display: block;
  text-align: center;
  width: 100%;
  margin-left: -50%;
}

.rs-alert-item-wrapper .rs-alert-item {
  display: inline-block;
  position: relative;
}

.rs-alert-item-content {
  line-height: 1.4;
  text-align: left;
  padding: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12),
    0 0 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
  width: auto;
  max-width: 90vw;
  padding-left: 42px;
  padding-right: 46px;
  position: relative;
}

.rs-alert-item-content p {
  margin-bottom: 0;
}

.rs-alert-item-content .rs-icon {
  position: absolute;
  top: 23px;
  left: 20px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 12px;
}

.rs-alert-fade-exited,
.rs-alert-fade-entering {
  opacity: 0;
}

.rs-alert-fade-exited {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: scaleY(0.8);
  transform: scaleY(0.8);
  max-height: 0;
  overflow: hidden;
}

.rs-alert-fade-entered {
  -webkit-animation: alertMoverIn 0.3s ease-in forwards;
  animation: alertMoverIn 0.3s ease-in forwards;
}

.rs-alert-fade-leave-active {
  -webkit-animation: alertMoveOut 0.3s ease-out forwards;
  animation: alertMoveOut 0.3s ease-out forwards;
}

.rs-alert-container .rs-alert-success .rs-alert-item-content {
  background-color: #58b15b;
  color: #e9ebf0;
}

.rs-alert-container .rs-alert-success .rs-alert-item-content .rs-icon {
  color: #fff;
}

.rs-alert-container .rs-alert-success .rs-alert-item-close {
  color: #fff;
}

.rs-alert-container .rs-alert-info .rs-alert-item-content {
  background-color: #1499ef;
  color: #e9ebf0;
}

.rs-alert-container .rs-alert-info .rs-alert-item-content .rs-icon {
  color: #fff;
}

.rs-alert-container .rs-alert-info .rs-alert-item-close {
  color: #fff;
}

.rs-alert-container .rs-alert-warning .rs-alert-item-content {
  background-color: #ffc757;
  color: #e9ebf0;
}

.rs-alert-container .rs-alert-warning .rs-alert-item-content .rs-icon {
  color: #0f131a;
}

.rs-alert-container .rs-alert-warning .rs-alert-item-close {
  color: #0f131a;
}

.rs-alert-container .rs-alert-error .rs-alert-item-content {
  background-color: #f04f43;
  color: #e9ebf0;
}

.rs-alert .rs-alert-warning .rs-alert-item-content {
  color: #0f131a;
}

.rs-icon {
  display: none;
}

body .rs-alert-container {
  margin-left: var(--rs-alert-offset);
}
