/* Declarations of CSS Variables */

:root {
  --yellow: #fbc93d;
  --pink: rgb(255, 131, 152);
  --green: rgb(0, 255, 64);
  --red: #fb4f4f;
  --blue: #2f8fe2;
  --gblue: #2d88ff;
  --darkblue: #0f131a;

  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);

  --darkest: rgba(0, 0, 0, 0);
  --darker: rgba(0, 0, 0, 0.5);
  --dark: rgba(0, 0, 0, 0.7);
  --light: #3a3b3c;
  --lighter: #b0b3b8;
  --lightest: #e5e6eb;

  --text-grey: var(--lighter);
  --text-lightgrey: var(--lightest);
  --text-color: white;
  --highlight: #209e91;
  --nav-bg: rgba(0, 0, 0, 0.85);
  --vert-nav-bg: rgba(0, 0, 0, 0.5);
  --nav-height: 6vh;
  --scrollwidth: 8px;
}

/* Reset, from https://cssreset.com/scripts/eric-meyer-reset-css/ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

html,
body {
  line-height: 1;
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--body-bg);
  background-image: url("assets/blur-bg.jpg");
  max-width: 100%;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

#App {
  text-align: center;
  width: 100vw;
  height: auto;
}

strong,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-size: 1.25rem;
}

strong {
  font-size: 1.5rem;
}

p {
  color: var(--text-color);
  font-size: 1rem;
}

i {
  color: var(--text-color);
  font-style: normal;
}

button {
  color: var(--text-color);
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Global Classes, used everywhere */

.inline-icon {
  margin: 0 0.5rem;
}

.force-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.hoverfx,
.hoverfx2,
.hoverfx3 {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.hoverfx:hover,
.hoverfx2:hover,
.hoverfx3 {
  cursor: pointer;
}

.hoverfx:hover,
.hoverfx:focus {
  transform: scale(1.05);
  background-color: var(--highlight);
}

.hoverfx2:hover,
.hoverfx2:focus {
  transform: scaleY(1.1);
  border-right: 0.5rem solid var(--highlight);
}

.hoverfx:active,
.hoverfx2:active {
  transform: scale(0.9);
}

.hoverfx3:hover,
.hoverfx3:focus,
.hoverfx3:hover i,
.hoverfx3:focus i {
  color: var(--text-color) !important;
  background-color: var(--highlight);
}

.contentWrapper {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  margin-top: var(--nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scrollbar */

::-webkit-scrollbar {
  height: var(--scrollwidth);
  width: var(--scrollwidth);
  background-color: var(--darker);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: lightgray;
}

/* Loading Animation Wrapper */

#loading {
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
