/* Declarations of CSS Variables */

:root {
  --yellow: #fbc93d;
  --red: #fb4f4f;
  --blue: #2f8fe2;
  --darkblue: #0f131a;

  --darkest: #010101;
  --darker: #0e0e0e;
  --dark: #1a1a1a;
  --light: #272727;
  --lighter: #343434;
  --lightest: #414141;
  --superlight: #4d4d4d;

  --text-color: white;
  --body-bg: var(--darkblue);
  --highlight: var(--blue);

  --nav-bg: var(--darkest);
  --vert-nav-bg: var(--darker);
  --nav-height: 8vh;
}

/* Reset, from https://cssreset.com/scripts/eric-meyer-reset-css/ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

html,
body {
  line-height: 1;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--body-bg);
  font-family: "Merriweather", serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

#App {
  text-align: center;
  width: 100vw;
  height: auto;
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-size: 1.25rem;
  font-family: "Lora", serif;
}

p {
  color: var(--text-color);
  font-size: 1rem;
  font-family: "Merriweather", serif;
}

i {
  color: var(--text-color);
  font-style: normal;
}

button {
  color: var(--text-color);
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Global Classes, used everywhere */

.inline-icon {
  margin: 0 0.5rem;
}

.force-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.hoverfx,
.hoverfx2 {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.hoverfx:hover,
.hoverfx2:hover {
  cursor: pointer;
}

.hoverfx:hover,
.hoverfx:focus {
  transform: scale(1.05);
  background-color: var(--highlight);
}

.hoverfx2:hover,
.hoverfx2:focus {
  transform: scaleY(1.1);
  border-right: 0.5rem solid var(--highlight);
}

.hoverfx:active,
.hoverfx2:active {
  transform: scale(0.9);
}

.contentWrapper {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  margin-top: var(--nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scrollbar */

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background-color: var(--darker);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: lightgray;
}

/* Loading Animation Wrapper */

#loading {
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
